.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header-menu-list {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 391.4786376953125px;
}

.header-links-list-item {
  font-size: 18px;
  line-height: 100%;
  list-style: circle;
}

.header-links-list-item_no-bullit {
  list-style-type: none;
}

.link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-active {
  text-decoration: none;
}

.logo-headers {
  display: block;
  width: 139px;
  height: 104px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}

.header-address {
  width: 240px;
  justify-self: end;
}

.main {
  width: 100%;
}

.cover {
  position: relative;
  margin-bottom: 180px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.6;
  z-index: 1;
}

.cover-title {
  display: inline-block;
  margin-bottom: 106px;
  width: 1000px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.aligned-text-right {
  text-align: right;
  margin-top: 20px;
}

.letter-spacing-none {
  letter-spacing: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-right: 50px;
  position: relative;
  z-index: 2;
}

.cover-description-text {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 18px;
  align-self: center;
}

.button-cover {
  width: 256px;
  height: 51px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.lots {
  width: 1052px;
  margin: 0 auto 120px;
}

.title-lots {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lot {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards-title {
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  z-index: 2;
}

.cards-text {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 2;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-look-more-link {
  display: inline-block;
  margin-top: 31px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  width: 1052px;
  margin: 0 auto 183px;
  padding-top: 35px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-top: 101px;
  justify-content: flex-end;
}

.background-for-logo {
  display: flex;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about-logo {
  width: 148px;
  height: 114px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-bottom: 82px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-adress {
  width: 264.573486328125px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-self: center;
  width: 163.89999389648438;
}

.footer-links-list-item {
  list-style: none;
  text-align: center;
}

.footer-social-list {
  display: flex;
  column-gap: 48px;
  justify-self: end;
  flex-wrap: wrap;
  width: 240px;
}

.footer-social-list-item {
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 48px;
}
